# Ignoring some latex outputs artefacts
*.aux
*.log
*.toc
*.lof
*.out
*.fdb_latexmk
*.fls
*.bbl
*.bcf
*.lot
*.xml
*.gz
*.auxlock

# Output files (Added by after)
*.pdf
*.dvi

# build folder
build*/*
_minted-main/*

#Hidden folder
.*/
