/* ============================================================
 * This file is the overlay DTS for topaze that define the I2C 
 * devices
 *
 * We describe here the peripherals configuration, and so on...
 *
 * l.heywang
 * 01/03/2025
 *
 * ============================================================
 */

// ============================================================
// I2C and PINCTRL
// ============================================================
// Enable I2C and configure it
&i2c3 {
    status = "okay";
    clock-frequency = <400000>;
    pinctrl-0 = <&i2c3_topaze>;
    pinctrl-names = "default";
};

// We're using here default pins for UART0 and 1, to match the DK
// Sensors are bound to the UART 2 and 3
&pinctrl {
    i2c3_topaze: i2c3_topaze {
        group1  {
            psels = <NRF_PSEL(TWIM_SCL, 0, 18)>, // 19 on the board, here for debug !
                    <NRF_PSEL(TWIM_SDA, 0, 17)>;
		};
	};
};

// Register the devices.
&i2c3 {

    barometer0: barometer0@76{
        compatible = "i2c-device";
        status = "okay";
        reg = <0x00000076>;
    };

    accelerometer0: accelerometer0@18{
        compatible = "i2c-device";
        status = "okay";
        reg = <0x00000018>;
    };

    accelerometer1: accelerometer1@19{
        compatible = "i2c-device";
        status = "okay";
        reg = <0x00000019>;
    };

    expander0: expander0@20{
        compatible = "i2c-device";
        status = "okay";
        reg = <0x00000020>;
    };
};

// And aliases
// We only add aliases for real devices, and not only the "possibles" ones.

/ {
    aliases {
        i2c3 = &i2c3;
    };
};